:root {
    --background-color: #252B48;
    --component-color: #445069;
    --light-component-color: #5C6882;
    --primary-color: #F7E987;
    --secondary-color: #5B9A8B;
    --black-color: #212121;
    --white-color: #FAFAFA;
}
